.mySliderColumn {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    border: double
}

.incognito {
 /*   display: none*/
}

body .custom-thin-right {
    width: 30%;
    float: right;
    margin-right: 10px;
}

.drewsThinSliderLeft {
    width: 30%;
    float: left
}

.drewsThinSliderRight {
    width: 30%;
    float: Right
}

#visibleLogContainer {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}